%section#main-slider.no-margin
  .carousel.slide{"data-ride" => "carousel"}
    .carousel-inner
      .item.active
        .container
          .row
            .col-sm-12
              .carousel-content.center.centered
                %h2.boxed.animation.animated-item-1.fade-down WE HAVE A LARGE DATABASE OF ASTRONAUTS
                %p.boxed.animation.animated-item-2.fade-up You can also expand this database. Just register now!
                %br/
                %a.btn.btn-md.animation.bounce-in{:href => "#services"} Learn More
#content-wrapper
  %section#services.white
    .container
      = flash_messages_for
      .gap
      .row
        .col-md-12
          .center.gap.fade-down.section-heading
            %h2.main-title What can you do here?
            %hr/
            %p We maintain and, with your help, constantly expand the database of astronauts. After registration, you can do the following actions.

      .row
        .col-md-4.col-sm-6
          .service-block
            .pull-left.bounce-in
              = fa_icon "list", class: "fa-md"
            .media-body.fade-up
              %h3.media-heading List of astronauts
              %p You can see list of all astronauts. There is a some filter by gender.
        .col-md-4.col-sm-6
          .service-block
            .pull-left.bounce-in
              = fa_icon "eye", class: "fa-md"
            .media-body.fade-up
              %h3.media-heading Show
              %p You can see a specific astronaut page with info about astronaut such us a name, surname, some description, gender, age and the number of space visits.
        .col-md-4.col-sm-6
          .service-block
            .pull-left.bounce-in
              = fa_icon "plus", class: "fa-md"
            .media-body.fade-up
              %h3.media-heading Create new
              %p You can create new astronauts. You can also export data from XML file!
              %a{:href => "https://en.wikipedia.org/wiki/XML", :target => "_blank"} More about XML

      .row
        .col-md-4.col-sm-6
          .service-block
            .pull-left.bounce-in
              = fa_icon "pencil", class: "fa-md"
            .media-body.fade-up
              %h3.media-heading Edit
              %p You can update some info about specific astronaut. Please use this feature with reason.
        .col-md-4.col-sm-6
          .service-block
            .pull-left.bounce-in
              = fa_icon "trash", class: "fa-md"
            .media-body.fade-up
              %h3.media-heading destroy
              %p You can destroy some astronaut from database.
      .gap
  %section#stats.divider-section
    .gap
    .container
      .row
        .col-md-3.col-xs-6
          .center.bounce-in
            %span.stat-icon
              = fa_icon "mars"
            %h1
              %span.counter= Astronaut.all.mens.count
            %h3 Mens
        .col-md-3.col-xs-6
          .center.bounce-in
            %span.stat-icon
              = fa_icon "venus"
            %h1
              %span.counter= Astronaut.all.womens.count
            %h3 Womens
        .col-md-3.col-xs-6
          .center.bounce-in
            %span.stat-icon
              = fa_icon "arrow-down"
            %h1
              %span.counter= Astronaut.all.age_under_40.count
            %h3 Age under 40
        .col-md-3.col-xs-6
          .center.bounce-in
            %span.stat-icon
              = fa_icon "arrow-up"
            %h1
              %span.counter= Astronaut.all.age_over_40.count
            %h3 Age over 40
    .gap

  %section#contact.white
    .container
      .gap
      .center.gap.fade-down.section-heading
        %h2.main-title Get In Touch
        %hr/
        %p Please feel free to contact me with some questions or problems.
      .gap
      .row
        .col-md-4.fade-up
          %h3 Contact Information
          %p
            %span= fa_icon "envelope"
            %a{:href => "mailto:marketa.glatzova@gmail.com"} marketa.glatzova@gmail.com
            %br/
            %span= fa_icon "linkedin-square"
            %a{:href => "https://www.linkedin.com/in/mark%C3%A9ta-glatzov%C3%A1-881683144/", :target => "_blank"} Markéta Glatzová
            %br/
        .col-md-8.fade-up
          %h3 Drop Me A Message
          %br/
          %br/
          #message
          = simple_form_for :feedback, :url => send_feedback_pages_path, :method => :post, :html => { :class => 'validate-form' } do |f|
            .form-group.form-group-lg
              .validate-input{"data-validate" => "Name can't be blank!"}
                = f.text_field :name, :class => 'form-control input-lg input100', :id => 'name', :placeholder => "Name"
            .form-group.form-group-lg
              .validate-input{"data-validate" => "Email is required! For example: sample@google.com."}
                = f.text_field :email, :class => 'form-control input-lg input100', :id => 'email', :placeholder => "Email" , :type => 'email'
            .form-group.form-group-lg
              = f.text_area :comments, :class => 'form-control input-lg', :id => 'comments', :placeholder => "Comments", rows: 8
            .text-right
              %button.btn.btn-outlined.btn-primary{:type => "submit"}
                Submit
      .gap