#footer-wrapper
  %section#bottom
    .container
      .row
        .col-md-3.col-sm-6.about-us-widget
          %h4 Astronauts
          %p This project was created as a demo application for the company dataweps.
        .col-md-3.col-sm-6
          %h4 Menu
          %div
            %ul.arrow
              %li
                %a{:href => root_path} Home
              %li
                %a{:href => astronauts_path} List of astronauts
              %li
                %a{:href => new_astronaut_path} Create new astronaut
              %li
                %a{:href => "#"} Log in
              %li
                %a{:href => "#"} Register
        / /.col-md-3
        .col-md-3.col-sm-6
          %h4 Latest Astronauts
          %div
            - Astronaut.last(2).each do |astronaut|
              .media
                .pull-left
                  %img.widget-img{:alt => "", :src => path_to_image(astronaut.avatar_url)}/
                .media-body
                  %span.media-heading
                    = astronaut.full_name
                  %small.muted= "#{astronaut.gender}, #{astronaut.age}"

        .col-md-3.col-sm-6
          %h4 Contact info
          %address
            %span= fa_icon "envelope"
            %a{:href => "mailto:marketa.glatzova@gmail.com"} marketa.glatzova@gmail.com
            %br/
            %span= fa_icon "linkedin-square"
            %a{:href => "https://www.linkedin.com/in/mark%C3%A9ta-glatzov%C3%A1-881683144/", :target => "_blank"} Markéta Glatzová
  %footer#footer
    .container
      .row
        .col-sm-8
          © 2021 Astronauts
        .col-sm-4
          %ul.pull-right
            %li
              %a#gototop.gototop{:href => "#"}
                = fa_icon "chevron-up"

